:root {
    --offwhite: #f7f6ea;
    --lightgray: #abaaaa; 
    --darkgray: #4e4e4e;
    --offblack: #191919;
    --green: #40aa45;
}

body {
  background-color: var(--lightgray)
}

#outer-container {
  background-color: var(--offwhite)
  width: 70%;
  margin: auto;
  padding: 15px;
  border: 1px solid var(--darkgray);
}

.title {
  text-align: center;
}

.logo {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
